:root {
  --color-primary: #FC552F;
  --color-secondary: #07070C;
  --color-white: #FFFF;
  --color-primary-light: #FFFBFB;
  --transition: all 300ms ease;
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --form-width: 50%;
  --card-border-radius-1: 0.3rem;
  --card-border-radius-2: 0.5rem;
  --card-border-radius-3: 0.8rem;
  --card-border-radius-4: 2rem;
  --card-border-radius-5: 5rem;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-appearance: 0;
  -moz-appearance: 0;
  appearance: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: var(--color-gray-200);
  overflow-x: hidden;
  background: var(--color-bg);
  font-size: 0.9rem;
}

input,
textarea,
select {
  padding: 0.8rem 1.4rem;
  background-color: var(--color-gray-900);
  border-radius: var(--card-border-radius-2);
  resize: none;
  color: var(--color-primary);
}

.Navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.white {
  color: var(--color-white);
}

.nav {
  background-color: white;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.8666666667);
}
.nav .search {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color-dull-white);
  max-height: 35px;
  align-items: center;
  display: flex;
}
.nav .search input {
  background: transparent;
  border: none;
  outline: none;
  width: 300px;
  margin: 0px 20px;
}

.LinkHeader {
  background-color: var(--color-primary);
  padding: 10px 20px;
  margin: 0;
  display: flex;
  align-items: center;
}
.LinkHeader a li {
  margin: 0 10px;
  font-size: 13px;
  color: var(--color-white);
  cursor: pointer;
}
.LinkHeader a li:hover {
  color: var(--color-black) !important;
}
.LinkHeader a:hover {
  color: var(--color-black) !important;
}
.LinkHeader .this {
  color: var(--color-black);
  margin-left: 10px;
}

.Table {
  background-color: var(--color-body);
  padding: 20px;
  padding-bottom: 0;
  border-radius: 20px;
}
.Table table thead {
  background-color: var(--color-default) !important;
  color: white;
}
.Table table thead th {
  font-size: 16px !important;
}
.Table table tbody tr {
  margin-bottom: 10px !important;
  color: gray !important;
  cursor: pointer;
  font-size: 14px;
}
.Table table tbody tr td,
.Table table tbody tr th {
  color: gray !important;
}
.Table .down {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Table .down li,
.Table .down span {
  color: var(--color-second) !important;
  background-color: transparent;
}

.minute {
  font-weight: 400;
  background-color: var(--color-primary);
  padding: 10px 15px;
}

.primary {
  color: var(--color-primary) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  font-weight: 600;
}

.navHeight {
  height: 60px;
  position: relative;
}

.m50 {
  padding: 50px 0;
}

.m20 {
  padding: 20px 0;
}

.Navbar .navbar-brand {
  color: var(--color-primary);
  font-weight: 600;
}

.black {
  color: #07070C;
}

.Navbar .nav-link {
  font-weight: 500;
  margin: 0 10px;
  font-size: 15px;
  cursor: pointer;
}

.Navbar .white:hover {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-white) !important;
}

.Navbar .black:hover {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-secondary) !important;
}

.Navbar .show {
  background-color: var(--color-primary);
  justify-content: center;
  text-align: center;
  color: var(--color-white);
  padding: 10PX;
}

.justify-content-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar .show .nav-link {
  color: var(--color-white) !important;
}

.Navbar .show .nav-link:hover {
  color: var(--color-secondary) !important;
}

.background {
  background-color: var(--color-secondary);
  position: relative;
  padding: 0;
  margin: 0;
}

.search__bar {
  margin-top: 2rem;
}
.search__bar .search__bar-container {
  position: relative;
  width: 30rem;
  background: #ddd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0.6rem 1rem;
  border-radius: var(--card-border-radius-2);
  color: gray;
}
.search__bar .search__bar-container div {
  width: 100%;
  display: flex;
  align-items: center;
}
.search__bar .search__bar-containers {
  position: relative;
  width: 100%;
  background: #ddd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0.6rem 1rem;
  border-radius: var(--card-border-radius-2);
  color: gray;
}
.search__bar .search__bar-containers div {
  width: 100%;
  display: flex;
  align-items: center;
}
.search__bar input {
  background: transparent;
  margin-left: 0.7rem;
  padding: 0.5rem 0;
  width: 100%;
}
.search__bar input::-moz-placeholder {
  color: var(--color-gray-300);
}
.search__bar input::placeholder {
  color: var(--color-gray-300);
}

.video-background {
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}
.video-background video {
  -o-object-fit: contain;
     object-fit: contain;
}

.Banner {
  width: 100%;
  margin-top: -320px;
  margin-left: 50px;
  color: white;
}

.Banner .text {
  width: 80%;
  text-align: left;
}

.Banner h2,
.Banner p {
  color: var(--color-white);
}

.Banner h2 {
  font-weight: 600;
}

.Banner img {
  width: 50%;
}

.SBTV .each {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SBTV .each .sub {
  font-size: 13px !important;
  color: var(--color-primary);
}

.SBTV .each .value {
  font-size: 18px;
  font-weight: 500;
}

.Features img {
  width: 16%;
  margin-bottom: 10px;
}

.Experience {
  background-color: var(--color-primary-light);
}

.Experience .img img {
  width: 90%;
}

.Experience .each .set {
  display: flex;
  gap: 10px;
}

.Experience .each .set p {
  color: gray;
}

.Experience .each .set img {
  width: 7%;
  height: 7%;
}

.Discover img {
  width: 100%;
  margin-bottom: 10px;
}

.Discover video {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px 20px 0 0;
}

.Discover .each {
  border: 1px solid #efefef;
  padding: 16px;
  border-radius: 30px;
}

.Discover span {
  color: var(--color-primary);
}

.Discover p {
  color: gray;
}

.Discover .down {
  display: flex;
  align-items: center;
}

.Customers .each {
  border: 1px solid #efefef;
  padding: 16px;
  border-radius: 30px;
}

.Customers h1 span {
  color: var(--color-primary);
}

.ContactCard {
  background-color: var(--color-primary);
  border-radius: 30px;
  padding: 50px;
  color: var(--color-white);
}

.Footer {
  background-color: var(--color-secondary);
  padding: 50px 0;
  color: var(--color-white);
}

.Footer .links ul {
  display: flex;
  margin: 0;
  justify-content: center;
  gap: 35px;
}

.Footer .social ul {
  display: flex;
  margin: 0;
  justify-content: center;
  gap: 35px;
  font-size: 15px;
}

.Footer .social ul svg {
  margin-right: 10px;
}

.Footer hr {
  color: #363636;
}

.Footer .middle {
  border: 1px solid rgb(43, 43, 43);
  border-radius: 30px;
  text-align: left;
  padding: 40px 0;
  background-color: #141414;
}

.Footer .middle p {
  padding: 0;
}

.Footer .middle .input {
  background-color: var(--color-secondary);
  height: 65px;
  display: flex;
  align-items: center;
  padding: 20px;
  padding-right: 0;
  border-radius: 20px 50px;
  width: 90%;
}

.Footer .middle .input input {
  background-color: var(--color-secondary);
  color: var(--color-white);
  width: 100%;
}

.Footer .down ul {
  display: flex;
  margin: 0;
  justify-content: space-between;
  gap: 35px;
  font-size: 13px;
}

.form__section {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #efefef;
}

.form__section small {
  margin-top: 1rem;
  display: block;
}

.form__section a {
  color: var(--color-primary);
}

.form__section-container {
  width: var(--form-width);
  background-color: var(--color-primary-light);
  border-radius: 20px;
}

.bordBlack {
  border: 1px solid var(--color-secondary);
  border-radius: 8px;
}

.inputts {
  border: 1px solid var(--color-secondary);
  border-radius: 8px;
  height: 45px;
  width: 100%;
  background-color: transparent !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}

/* .inputts::-moz-placeholder {
  font-size: 14px;
  color: rgba(99, 119, 138, 0.5) !important;
} */
/* .inputts::placeholder {
  font-size: 14px;
  color: rgba(99, 119, 138, 0.5) !important;
} */
.inputts p {
  margin: 0;
  color: rgba(99, 119, 138, 0.5) !important;
  font-weight: 300;
  font-size: 13px;
}

.inputts img {
  width: 12px;
}

.inputts option {
  font-size: 12px !important;
  color: rgba(99, 119, 138, 0.5) !important;
}

.table {
  background-color: var(--color-secondary) !important;
}

.Table table thead {
  background-color: var(--color-primary) !important;
  color: white;
}

.Table table thead th {
  font-size: 16px !important;
  color: var(--color-primary);
}

.Table table thead {
  background-color: var(--color-primary) !important;
}

.Table table tbody tr {
  margin-bottom: 10px !important;
  color: gray !important;
  cursor: pointer;
  font-size: 14px;
  background-color: var(--color-primary-light) !important;
}

.Table table tbody tr:hover {
  background-color: red !important;
}

.Table table tbody tr td,
.Table table tbody tr th {
  color: var(--color-secondary) !important;
}

.Table .down {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Table .down li,
.Table .down span {
  color: var(--color-primary) !important;
  background-color: transparent;
}

.tables thead {
  background-color: var(--color-primary) !important;
}

.table > :not(caption) > * > * {
  padding: 20px;
  background-color: var(--color-primary-light) !important;
}

.table > :not(caption) > * > * thead {
  background-color: var(--color-secondary) !important;
}

ul {
  padding: 0;
}

.SBTV a {
  color: var(--color-primary);
}

.SBTV a:hover {
  color: var(--color-secondary);
}

.SBTV {
  padding: 30px;
}

.navbarDisplay {
  display: none !important;
}

.Inner {
  overflow: scroll;
  height: 91.2vh;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
.Inner::-webkit-scrollbar {
  display: none;
}

.BannerDetails .sets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: 30px 0px;
}
.BannerDetails .sets .set1 {
  display: flex;
  align-items: center;
}
.BannerDetails .sets .set1 h2 {
  font-weight: 600;
  color: var(--color-default);
}
.BannerDetails .sets .set1 p {
  color: var(--color-grey);
  font-size: 15px;
}
.BannerDetails .sets .set1 img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards .set {
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 20px;
  padding: 20px;
}
.cards .set .opt1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards .set .opt1 p {
  color: var(--color-black);
  font-size: 18px;
}
.cards .set .opt1 svg {
  color: var(--color-grey);
}
.cards .set .task,
.cards .set .due,
.cards .set .proposal,
.cards .set .open {
  text-align: center;
}
.cards .set .task h1,
.cards .set .due h1,
.cards .set .proposal h1,
.cards .set .open h1 {
  font-size: 100px;
  line-height: 80px;
}
.cards .set .task p,
.cards .set .due p,
.cards .set .proposal p,
.cards .set .open p {
  font-size: 18px;
}
.cards .set .due {
  color: var(--color-blue);
}
.cards .set .task {
  color: var(--color-red);
}
.cards .set .open {
  color: var(--color-orange);
}
.cards .set .proposal {
  color: var(--color-green);
}
.cards .set .down {
  color: var(--color-grey);
}

.card-header {
  background-color: var(--color-primary);
  color: white;
  border: none;
}

.news .bg-soft-pink {
  background-color: rgba(253, 60, 151, 0.08) !important;
  color: var(--color-primary) !important;
}
.news .btn {
  background-color: var(--color-primary);
  border: none;
  color: white;
  padding: 5px 15px;
  font-size: 13px;
  border-radius: 3px;
}
.news .newsHeading {
  display: block;
  display: -webkit-box;
  margin: 0.5rem 0px;
  height: 3.6em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news .newsSummary {
  display: block;
  display: -webkit-box;
  height: 5em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 700px) {
  .form__section {
    padding: 10px !important;
  }
  .form__section-container {
    padding: 20px !important;
    width: var(--container-width-md) !important;
  }
  .Table {
    overflow: scroll !important;
  }
  .SBTV {
    padding: 10px;
  }
  .navbarDisplay {
    display: block !important;
    padding: 6px 14px;
    background-color: var(--color-default);
    transition: all 0.5s ease;
  }
  .navbarDisplay .nan {
    display: flex;
  }
  .navbarDisplay .nan h2 {
    color: var(--color-white);
  }
  .navbarDisplay li:hover {
    background-color: var(--color-default-light);
    border-radius: 5px;
  }
  .navbarDisplay li div {
    display: flex;
    align-items: center;
  }
  .navbarDisplay li span {
    font-size: 15px;
    color: var(--color-white);
  }
  .navbarDisplay li i {
    color: var(--color-white);
    line-height: 60px;
    min-width: 50px;
    font-size: 25px;
    text-align: center;
  }
  .navbarDisplay img {
    width: 150px;
    margin-right: 10px !important;
  }
  .navbarDisplay .navbar-toggler {
    border: 1px solid var(--color-second) !important;
  }
  .navbarDisplay .navbar-toggler svg {
    color: var(--color-white) !important;
  }
}/*# sourceMappingURL=style.css.map */